{% extends 'email/email-base.html' %}
{% load static %}
{% block content_base %}
  <table bgcolor="#F2F0F8" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td height="32"></td>
      </tr>
      <tr>
        <td style="padding:0px 0px 0px 0px">
          <table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" style="border-radius:4px" width="100%">
            <tbody>
              <!-- TEXTO -->
              <tr>
                <td align="center" style="
                font-family:'Nunito Sans','Helvetica Neue',Calibre,Helvetica,Arial,sans-serif;
                font-size:32px;
                line-height:40px;
                font-weight:bold;
                color:#2b2f45;
                padding:48px 35px 48px 35px">
                Alugue suas salas no melhor portal de aluguel de salas comerciais do Brasil
                </td>
                <tr>
                  <td align="center">
                    <img src="https://res.cloudinary.com/dcw9rtwpb/image/upload/v1556735330/sistema/clapping.png" alt="Mãos batendo palmas" style="height: 100px; width: 100px; padding:0px 0px 20px 0px">
                  </td>
                </tr>
                <tr>
                  <td align="left" style="
                  font-family:'Nunito Sans','Helvetica Neue',Calibre,Helvetica,Arial,sans-serif;
                  font-size:16px;
                  line-height:24px;
                  color:#2b2f45;
                  padding:0px 45px 24px 45px">
                    Parabéns, <strong>{{ nome_fantasia }}</strong>! Você agora faz parte das pessoas que escolheram simplificar a forma de alugar as próprias salas.
                  </td>
                </tr>
                <tr>
                  <td align="left" style="
                  font-family:'Nunito Sans','Helvetica Neue',Calibre,Helvetica,Arial,sans-serif;
                  font-size:16px;
                  line-height:24px;
                  color:#2b2f45;
                  padding:0px 45px 24px 45px">
                    Conte conosco para facilitar o aluguel das suas salas e te ajudar a <strong>fazer dinheiro</strong> com a sua propriedade.
                  </td>
                </tr>
                <tr>
                  <td align="left" style="
                  font-family:'Nunito Sans','Helvetica Neue',Calibre,Helvetica,Arial,sans-serif;
                  font-size:16px;
                  line-height:24px;
                  color:#2b2f45;
                  padding:0px 45px 24px 45px">
                    Como faremos isso? Cadastre suas salas no nosso portal e apresentaremos interessados no aluguel.
                    Toda transação poderá ser realizada no próprio portal, portanto você só se preocupará em disponibilizar o espaço.
                  </td>
                </tr>
                <tr>
                  <td align="center" style="
                  font-family:'Nunito Sans','Helvetica Neue',Calibre,Helvetica,Arial,sans-serif;
                  font-size:16px;
                  line-height:24px;
                  color:#2b2f45;
                  padding:0px 45px 24px 45px">
                    Alugue suas salas e faça dinheiro agora mesmo!
                  </td>
                </tr>
                <tr>
                  <td align="center">
                    <a href="#" style="
                    font-family:'Nunito Sans','Helvetica Neue',Calibre,Helvetica,Arial,sans-serif;
                    font-size:16px;
                    line-height:24px;
                    color:#ffffff;
                    background-color:#E63D44;
                    font-weight:bold;
                    border:solid 2px #E63D44;
                    padding:10px 24px 10px 24px;
                    text-decoration:none;
                    border-radius:24px;
                    display:inline-block">Quero alugar minhas salas</a>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="
                  font-family:'Nunito Sans','Helvetica Neue',Calibre,Helvetica,Arial,sans-serif;
                  font-size:16px;
                  line-height:24px;
                  color:#2b2f45;
                  padding:20px 64px 24px 64px">
                    Conte conosco!
                    <br>
                    <strong>Equipe Locapy</strong>
                  </td>
                </tr>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}
